.container{
    background-color: #3b2828;
}
:root {
  --topbar-bg: #fafafa;
  --hover-color: #7500c4;
  --topbar-dark: #000000;
  --font-size-base: 0.9rem;
  --font-size-icon: 1.2rem;
  --topbar-brd: #8b00d1;
}